<div class="row about">
	<h4 class="center-align">About</h4>
	<div class="col s10 offset-s1 m6 offset-m3">
		<div class="carousel carousel-slider">
			<a class="carousel-item" href="#one!"><img src="../images/img11.jpg"></a>
			<a class="carousel-item" href="#two!"><img src="../images/img22.jpg"></a>
			<a class="carousel-item" href="#three!"><img src="../images/img33.jpg"></a>
			<a class="carousel-item" href="#four!"><img src="../images/img44.jpg"></a>
		</div>
		<h4 class="center-align">Vivamus sit amet libero mi</h4>
		<p>Phasellus leo augue, eleifend in tortor maximus, volutpat ullamcorper purus. Cras eget velit orci. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Morbi nec arcu diam. Cras hendrerit purus eu lacus dignissim, sed accumsan nunc aliquam. Curabitur imperdiet dapibus metus, eu malesuada turpis hendrerit ut. Phasellus non mauris ac justo iaculis sodales. Donec erat augue, eleifend quis lorem nec, rhoncus egestas nulla. Suspendisse potenti. In ligula lorem, pellentesque ut ligula id, volutpat ullamcorper felis. Pellentesque vulputate euismod risus. </p>
		<p>Maecenas luctus ligula ante, sit amet aliquam turpis pulvinar ut. Nam ullamcorper risus luctus augue euismod placerat. Duis scelerisque, ipsum id luctus malesuada, ligula nisl rhoncus tortor, a hendrerit quam tellus sed mauris. Sed nec pretium libero. Donec et erat ultricies, tempus massa quis, tincidunt arcu. Morbi a nulla neque. Integer id dui ex. In hac habitasse platea dictumst. Nullam convallis nisi dui, a ornare magna ullamcorper mollis. Phasellus euismod euismod ligula vitae suscipit. Curabitur elementum nunc eget mi laoreet vestibulum. Nunc auctor sem ut libero elementum, vitae dapibus nisl dignissim. Suspendisse tristique libero ornare mauris dictum faucibus. Proin faucibus nisi id est blandit congue. Sed vestibulum mauris sed est imperdiet consequat. Aliquam accumsan ex orci, non pretium nibh auctor eget.</p>
		<p>Donec dictum est quam, ac facilisis quam convallis ac. Sed lorem augue, convallis ac placerat eget, hendrerit vitae purus. In hac habitasse platea dictumst. Proin cursus enim vel scelerisque aliquam. Quisque nec nisi iaculis, tincidunt felis id, faucibus nulla. Cras nec arcu libero. Suspendisse potenti. Morbi fermentum orci eget vehicula placerat. Curabitur malesuada elit ut ultricies rhoncus. Nulla et nisl velit. Vivamus viverra non turpis id porttitor. Donec vitae ipsum tincidunt, sodales nisl tempor, vehicula justo. Fusce efficitur massa leo, a tristique augue fermentum quis. Cras ultricies ex est, nec egestas augue ultricies sed. Suspendisse quis molestie augue, eget maximus metus. Etiam imperdiet, tortor sit amet consequat lacinia, lacus odio finibus tortor, at dapibus tortor dui et enim.
Fusce venenatis ex vitae ligula placerat pulvinar. Pellentesque vestibulum est nec nisi fringilla rhoncus. Nulla congue semper ante non ultrices. Fusce mollis interdum aliquam. Cras a elit in mi ultricies posuere. Sed tristique dolor non mi tristique, quis lacinia urna molestie. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
<p><strong class="orange-text">Working hours :</strong><span> 9 a.m - 10 p.m</span></p>

	</div>
</div>