  <div class="row s12 m10">
    <div class="col s12 m4 offset-m2">
      <h4>Online</h4>
      <h4>Reservation</h4>
      <h5>We wrote down your request</h5>
      <p>After specifying free table, we will contact with you. Check your email!</p>
    </div>
    <div class="col s12 m5 reservation-logo">
      <img src="/images/reservation.png" alt="reservation" />
    </div>
  </div>